


body {
  margin: 0;
  padding: 0;
  background-image: url(istockphoto-1171481416-612x612.jpg);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

 

  
}
 
.hero:hover .tell {

  animation: drop-down 2s linear 1;

 
}




@keyframes drop-down {
  0% {
    transform: translateY(-500%);


  }


}

.tell {

 display: inline-block;
 position: absolute;
 margin-top: 400px;
 margin-left: 75px;
 color: white;
 font-family: Arial, Helvetica, sans-serif;
 letter-spacing: 1px;
 transform: scale(1.2);
 transition: transform 2s linear 1;
 
 
}

.head {
  display: flex;
  
  justify-content: space-between;
  padding-top: 35PX;
  margin-right: 70px;
  margin-left: 70px;
  
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  background-color: rgba(169, 169, 169, 0.295);
  border-radius: 25px;
  padding-left: 5px;
  padding-bottom: 5px;
  color: white;
  text-decoration: none;
  width: 1000px;

}

.links:hover {
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.253);
  
}


ul li {
  list-style-type: none;
}


.line {
  display: flex;
  font-size: large;
  padding-top:12px;
  font-size: 20px;
  margin-left: 30px;
  margin-right: 55px;
  flex: 1;
  justify-content: center;
  justify-content: space-between;

}

.tea {
  display: flex;
  justify-self: auto;
  align-items: center;
  margin: 0;
  min-width: 100%;
  justify-content: space-between;

}


.hi {

 text-decoration: none;
 color: white;

}

.li:hover,
.hi:hover {
  color: yellow;
  cursor: pointer;
}


.li:Active,
.hi:active {
  color: red;
}
  

.real {
  color: white;
  font-size: x-large;
  display: inline-block;
  
}

.red {
  color: brown;
}


.click {
 margin-top: 5px;
 font-size: larger;
 padding: 8px;
 background-color: rgba(255, 255, 255, 0.685);
 color: rgb(31, 11, 11);
 border-radius: 25px;
 border-style: none;
 cursor: pointer;
 font: bold;
 display: flex;
}

.click:hover {
 cursor: pointer;
 
}

.click:active {
  transform: scale(1.2);
  color: rgb(231, 19, 19);

}

.big2 {
  margin-left: 15px;
  color: crimson;
}
.big {
  margin-top: 7px;
  margin-bottom: 7px;
}

.tell1 {
  display: none;
}

@media (max-width: 750px) {
  .line { display: block;
          position: relative;
          margin: 75px;
          padding: 20px;
          font-size: xx-large;
         
  
    
      
  }

  .tell {
    display: none;
  }
  .links {
    background-color: rgba(169, 169, 169, 0);
    padding-top: 30px;
    max-width: 600px;
    
  }
  .links:hover {
    box-shadow: none;
    
  }

  .line li {
    margin-top: 50px;
    margin-top: 50px;
    
  }


  .tea {
    display: flex;
    justify-self: auto;
    align-items: center;
    margin: 0;
    width: 100%;
    justify-content: space-between;
  
  }

 
  
  .real{
     display: none;
    }


  .expose {
    display: none;
  }

  .mine {
    display: none;
  }













}

.lime {
  display: inline-block;
  width:400px;
  position: absolute;
  
}
.mine {
  
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  margin-left: 1000px;
  margin-top: 200px;

}

