

  .TOP {
    margin-left: 300px;
    background-color: rgb(147, 168, 185);
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    vertical-align: top;
     
  }

  .T2 {
    width: 390px;
    margin-left: 25px;
    color: rgb(66, 52, 17);
    font-family: cursive;
    margin-top: -10px;
    
  }

  .T1 {
    padding-left: 15px;
    font-weight: bold;
    font-size: larger;
    width: 1200px;
    display: inline-block;

  }

  .TO {
    
    background-color: rgba(0, 0, 0, 0.473);
    width: 450px;
    height: 220PX;
    margin-left: 15px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 400px 2fr 1fr;
    column-gap: 25px;
  
  }


  .img1 { 
    width: 450px;
    margin-top: 25Px;
    display: inline-block;
    
  }

  .img0 {
    
    width: 450px;
    margin-top: 25px;
    display: inline-block;

    
  }

  .FO {
    display: grid;
    margin-left: 50px;
    margin-bottom: 0px;
    margin-top: -150px;
  
  }

  .DD {
    display: grid;

  }
  .DD:hover {
    cursor: pointer;

    
  }

  .DD:hover .TEXT {
    transform: translateX(50%);
    animation: left-to-right infinite;

  }



  .QQ {
    display: grid;
    width: 1fr;
    padding-right: 25px;
  
  }
  
  .FF {
    background-color: rgba(128, 128, 128, 0.486);
    margin-left: 25px;
    
  }

  .WE {
    display: inline-block;
    margin-top: 150px;
    vertical-align: bottom;
    
  }
  .img2 {
    width: 425px;
   
  }

  .img3 {
   
    width: 425px;
    margin-top: 25px;
  
  }

  .img4 {
    width: 425px;
    margin-top: 25px;
    margin-bottom: 20px;
  
  }
  
  .submit {
    
    display: inline-block;
    margin-right: 150px;
    margin-left: 150px;
    border-style: none;
    margin-bottom: 15px;
    font-size: larger;
    border-radius: 20px;
    
  }
  .submit:hover {
    
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.4;

  }
  .TRANS {
    text-decoration: none;
    color: black;
  }

  .TEXT {
    
    width: 300px;
    margin-left: 250PX;
    font-style: normal;
    font-size: 24PX;
    width: 440px;
    display: inline-block;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 25PX;
    padding-bottom: 10px;
    background-color: coral;
    margin-bottom: 130PX;
    margin-top: 20px;
    margin-left: 250px;
    transition: transform 2s linear ;
    
  }

  .submit1 {
    
    display: inline-block;
    margin-right: 150px;
    margin-left: 150px;
    border-style: none;
    margin-top: 20px;
    font-size: larger;
    border-radius: 20px;
    width: 150px;
    margin-bottom: 15px;
    
  }

  .submit1:hover {
    
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.4;

  }

  .TRANS1 {
    text-decoration: none;
    color: black;
  }


  .home {
    box-sizing: border-box;
    position: fixed;
    margin-top: -50px;
    margin-left: 1725px;
    
    
  }
  
  
  .btn {
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.808);
    border-color: dimgray;
    border-style: none;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
  
  }
  
  
  .btn:hover {
    background-color: dimgray;
    transition: 0.5;
  }
  
  .btn:active {
    background-color: cadetblue;
    transition: 0.5;
  }
  
  .hello {
    text-decoration: none;
  }